<AuthorizeView>
    <Authorized>
        Welcome @context.User.Claims.FirstOrDefault(c => c.Type.Contains("givenname")).Value
        <a href="AzureAD/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="AzureAD/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
